@{
}
<link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />

<div class="corpo">
    <div class="informacoesPessoais">
        <div class="divImagem">
            <img class="fotoPerfil" />
        </div>

    </div>
    <div class="painel">
        <h2>Logado com sucesso</h2>

    </div>
</div>
